* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 235, 0);
    color: rgba(0, 0, 0, 0.692);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h1,
h2 {
    text-align: center;
}

img {
    display: block;
    width: 100%;
    object-fit: contain;
}

.pc {
    transform: scaleX(-1);
}

/* LAYOUT */

header {
    margin-top: 1em;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.game-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 90%;
    
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 235, 0);
}

.fight-field {
    display: flex;
    margin-top: 20vh;
    justify-content: space-evenly;
}

.scoreboard-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    display: flex;
}

.scoreboard {
    width: 4em;
    height: 4em;
    padding: 3em;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.scoreboard span{
    font-size: 4rem;
}

.weapon-wheel {
    display: flex;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.weapon-selector {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 3em;
    box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
    object-fit: contain;
}

@media (min-width: 700px){
    .game-container {
        flex-direction: row;
    }
    .weapon-wheel {
        flex-direction: column;
        justify-content: center;
    }
    section {
        margin: 0 auto;
        padding-left: 12%;
        justify-content: center;
    }
    * {
        margin: 0;
    }
}

/* hover states */

.weapon-selector:hover,
.weapon-selector:focus {
    transform: scale(1.1)
}
